/annotations.txt
/appl.py
/appl2.py
/build
/classses.py
/dialogbox.py
/dist
/function.py
/global_var.txt
/gui.py
/her.py
/Hiolijfdoonvjhbds.spec
/imagemover.py
/imagemoverwithlabeler.py
/label2.py
/labelfinal.py
/LABELFINALLLL.py
/labelIMG.py
/LabelIMG2.py
/labeling.py
/labelling.py
/labelling2.py
/main.py
/newlabelimg.py
/neww.py
/opencvandtkinter.py
/openpiano.py
/output.txt
/output4.txt
/prevgui
/rbfdgrrdsfvg.py
/rectangle_cv2.py
/scroll.py
/tabcheck.py
/test.py
/test_gui.py
/tkinter-func.py
/training_script.py
/win4.py
/win5.py
/window 3.py
/window2.py
/yolov8n.pt
/__pycache__